openapi: 3.1.0
info:
  title: SlideCraft HubSpot Integration API
  version: 1.0.0
servers:
  - url: https://api.slidecraft.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /search_contacts:
    get:
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
            default: 10
      responses:
        "200":
          description: Array of Contact objects
  /post_note:
    post:
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                portal_id:
                  type: string
                hubspot_object_id:
                  type: string
                app_record_url:
                  type: string
              required: [portal_id, hubspot_object_id, app_record_url]
      responses:
        "200":
          description: Created note identifier
  /hubspot_oauth_callback:
    get:
      description: OAuth callback endpoint for HubSpot authorization
      responses:
        "200":
          description: Authorization successful
  /hubspot_fetch_contacts:
    get:
      description: Fetch contacts from HubSpot and populate the cache
      parameters:
        - in: query
          name: portal_id
          required: true
          schema:
            type: string
        - in: query
          name: after
          schema:
            type: string
      responses:
        "204":
          description: Sync completed
